# Sanity Studio & Client Configuration
# ------------------------------------
# You can find your Project ID and Dataset at https://sanity.io/manage

# Your 8-character Sanity Project ID (e.g., 'yvw1a2c')
VITE_SANITY_PROJECT_ID=

# The name of your dataset (usually 'production')
VITE_SANITY_DATASET=production
